.intro-footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #2B2F37;
}

.intro-footer__item {
    width: 33.33333%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-footer__icon {
    width: 49px;
    height: 49px;
    margin: 2em auto 1.4em;

}

.intro-footer__item.active {
    background-color: #17181b;
}

/*.intro-footer__item.active .intro-footer__icon {
    filter: invert(0);
}*/

.intro-footer__desc {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;

    text-align: center;
    color: #fff;
}

.intro-footer__title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.intro-footer__text {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 300;
    color: #6F798C;
}

.intro-footer__link {
    text-decoration: none;
    color: #E84C3D;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.intro-footer__link:hover {
    text-decoration: underline;
}


.search {
    margin-top: 2.1em;
}

.search__inner {
    text-align: center;
}

.search__title {
    color: #000;
    font-weight: 300;
}

.search__subtitle {
    width: 100%;
    max-width: 535px;
    margin: 1.5em auto 2.1em;

    font-size: 1.1rem;
    font-weight: 300;
    color: #000;
}

.search__place {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.search__input {

    width: 100%;
    padding: 1.25em 8.75em 1.25em 1.25em;

    font-family: 'PT Sans', sans-serif;
    font-size: 1.1rem;

    border: 10px solid transparent;
    border-image: linear-gradient(to right, #953945, #37334C);
    border-image-slice: 1;
}

.search__input:focus {
    outline: none;
    color: #000;
}

.search__items {
    margin-top: 2.5em;
    display: flex;
    flex-wrap: wrap;
}

.search__item {
    position: relative;
    width: 33.33333%;
    padding: 1.4em 2.1em;
}

.search__icon {
    position: absolute;
    top: 20px;
    left: 50px;

    width: 25px;
    height: 30px;
}

.search__text {
    width: 100%;
    max-width: 230px;
    margin: 1.4em auto;

    color: #000;
}

@media (max-width: 800px) {
    .intro-footer__item {
        width: 100%;
    }
}
