.plan__title {
    margin: 2.64em 0;
    color: #000;
    font-weight: 300;
}

.plan__subtitle {
    text-align: center;
    font-size: 1.1rem;
    color: #000;
}

.plan__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.plan-item {
    width: 23.33333%;
    margin-bottom: 1.42em;
    padding-bottom: 1em;

    border: 3px solid #E8E8E8;

    transition: background-color .2s linear;
}

.plan-item:not(:last-child) {
    margin-right: .32em;
}

.plan-item__title {
    padding: .5em .14em;
    position: relative;

    color: #000;
    text-align: center;

    transition: background-color .2s linear;
}

.plan-item__title p {
    margin-bottom: 0;
    letter-spacing: 1px;
}

.plan-item__title p:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #E8E8E8;

    position: absolute;
    bottom: -10px;
    left: 0;

    transition: background-color .2s linear;
}

.plan-item__price {
    margin-top: 1em;
    margin-left: 4.28em;

    color: #000;
    font-size: .85rem;
    font-weight: 500;

    transition: color  .2s linear;
}

.plan-item__price span {
    font-size: 3.57rem;
    font-weight: 600;

    transition: color  .2s linear;
}

.plan-item__desc {
    display: block;
    margin-bottom: .46em;
    padding: 0;

    list-style: none;
    font-size: 1rem;
    color: #000;

    transition: color .2s linear;
}

.plan-item__desc li {
    text-align: center;
}

.plan-item__desc span {
    font-weight: 600;

    transition: color  .2s linear;
}

.plan-item:hover  {
    background-color: #2C3039;
}

.plan-item:hover .plan-item__title {
    background-color: #E84C3D;
}

.plan-item:hover .plan-item__price,
.plan-item:hover .plan-item__price span {
    color: #fff;
}

.plan-item:hover .plan-item__title p:after {
    background-color: #2C3039;
}


.plan-item:hover .plan-item__desc {
    color: #fff;
}

.plan-item:hover .plan-item__desc span {
    color: #fff;
}

.plan-item:hover .btn--black {
    background-color: #E84C3D;
    color: #fff;
}

.plan-item__footer {
    margin: 1.8em auto;

    font-size: 1.87rem;
    font-weight: 600;
    color: #000;
}

.plan-item__footer span {
    color: #E84C3D;
}

@media (max-width: 830px) {
    .plan-item {
        width: 100%;
        max-width: 355px;

        text-align: center;
    }

    .plan-item__price {
        margin: 0;
    }

    .plan-item__footer {
        font-size: 1.2rem;
        text-align: center;
    }
}